.process-order-box{
    display: flex;
    margin-bottom: 20px;
}
.process-order-box > div{
    width: 20%;
}
.process-order-box > div + div {
    margin-left: 20px;
    padding-left: 20px;
    border-left: 1px solid var(--border-color-tiny);
}
.pr-add-det-wrapp2 .process-order-box > div{
    width: 25%;
}
.process-order-box .cr-ord-cust {
    padding: 0;
    float: none !important;
    width: 100% !important;
}
.process-order-box .cr-ord-cust div {
    font-size: 14px;
    font-weight: normal;
}
.process-order-box .cr-ord-cust:before {
    position: static;
    background: none;
    color: inherit;
    font-size: 20px;
    width: auto;
    line-height: 20px;
    content: '';
}
.process-order-box .pr-add-det-box.pr-add-det-box01 {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
}
.process-order-box .pr-add-det-box.pr-add-det-box01 .heading:before {
    content: '\e905';
    font-family: 'osc';
    display: inline-block;
    position: relative;
    line-height: 20px;
    font-size: 30px;
    vertical-align: middle;
    top: -2px;
    margin-right: 7px;
    color: var(--primary-color);
    font-weight: normal;
}
.process-order-box .heading {
    padding: 15px 0 !important;
    text-transform: uppercase;
    font-size: 18px !important;
    font-weight: 600 !important;
    border-bottom: 1px solid var(--border-color-tiny);
    margin-bottom: 10px;
    line-height: 16px;
}
.process-order-box .heading > i {
    line-height: 20px;
    font-size: 30px;
    vertical-align: middle;
    position: relative;
    top: -2px;
    margin-right: 7px;
    color: var(--primary-color);
    display: inline-block;
    float: left;
}
.process-order-box .cr-ord-cust-email,
.process-order-box .cr-ord-cust-phone {
    margin: 0 !important;
    min-height: 0;
}
.process-order-box .cr-ord-cust-email > div,
.process-order-box .cr-ord-cust-phone > div {
    display: inline-block;
    padding: 0 !important;
}
.process-order-box .cr-ord-cust-email:before,
.process-order-box .cr-ord-cust-phone:before {
    font-family: 'osc';
    display: inline-block;
    color: var(--link-color);
    position: relative;
    top: 3px;
}
.process-order-box .cr-ord-cust-email:before {
    content: '\e90c';
}
.process-order-box .cr-ord-cust-phone:before {
    content: '\e90a';
}
@media (max-width: 1400px) {
    .process-order-box {
        flex-wrap: wrap;
        margin-bottom: 0;
    }
    .process-order-box > div {
        width: calc(33% - 15px);
        margin-bottom: 20px;
    }
    .pr-add-det-wrapp2 .process-order-box > div {
        width: calc(50% - 15px);
    }
    .pr-add-det-wrapp1 .process-order-box > div:nth-child(4),
    .pr-add-det-wrapp2 .process-order-box > div:nth-child(3) {
        border-left: none;
        margin-left: 0;
        padding-left: 0;
    }
}

.transaction-id {
    display: inline-block;
    max-width: 150px;
    word-break: break-all;
}
.order-product-image {
    text-align: center;
    vertical-align: middle !important;
    width: 150px;
}
.order-product-image img {
    height: 90px;
    width: 150px;
    object-fit: contain;
    object-position: 50% 50%;
}
@media(max-width: 1660px){
    .order-product-image {
        width: 120px;
    }
    .order-product-image img {
        width: 120px;
    }
}
@media(max-width: 1500px){
    .order-product-image {
        width: 100px;
    }
    .order-product-image img {
        width: 100px;
    }
}

.product-table-price{
    width: 100%;
}
.product-table-price td{
    border: none!important;
    text-align: center;
    padding: 0!important;
    line-height: 1.2!important;
}
.product-table-price .price-right{text-align: right; padding-right: 9px!important;}
.product-table-price .price-left{text-align: left; padding-left: 9px!important; padding-right: 0!important;}
.product-table-price td span{
    color: var(--tiny-color);
}
.product-table-price .brace-ico {
    font-size: 42px;
    font-style: normal;
    font-weight: 300;
    line-height: 0;
    position: relative;
    top: -2px;
}
.product-table-price .multiply-ico {
    position: relative;
    top: -1px
}
.product-table-price .product-table-price-qty {
    vertical-align: middle!important;
    white-space: nowrap;
    padding-bottom: 8px !important;
}
.product-table-price-qty b, .product-table-price-qty span {
    display: inline-block;
    vertical-align: middle;
}
.product-table-price .vat-info-title {
    font-size: 12px;
    text-align: center;
}
.product-table-price .vat-info-title.vat-inc {
    padding-top: 10px !important;
}

.table-image-td {
    width: 100px;
    min-width: 100px;
    max-width: 100px;
}
.child-product .table-image-td {
    padding-left: 50px;
}
.child-product .table-image-td > div {
    position: relative;
    left: 20px;
}
.child-product .qty-price div {
    position: relative;
    left: 20px;
}
.child-product .table-name-td {
    padding-left: 30px;
}
.plus_td {
    white-space: nowrap;
    vertical-align: middle;
}
.plus_td .qty {
    width: 60px;
    text-align: center;
}