.stock-block {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 2px;
    grid-row-gap: 2px;
}
.stock-block > div:nth-child(1) {
    grid-column-start: 1;
    grid-row-start: 1;
}
.stock-block > div:nth-child(2) {
    grid-column-start: 2;
    grid-row-start: 1;
}
.stock-block > div:nth-child(3) {
    grid-column-start: 3;
    grid-row-start: 1;
}
.stock-block > div:nth-child(4) {
    grid-column-start: 1;
    grid-row-start: 2;
}
.stock-block > div:nth-child(5) {
    grid-column-start: 2;
    grid-row-start: 2;
}
.stock-block > div:nth-child(6) {
    grid-column-start: 3;
    grid-row-start: 2;
}
.stock-block > div:nth-child(7) {
    grid-column-start: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}
.stock-block > div:nth-child(8) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
}
.stock-block > div:nth-child(9) {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
}
.stock-block > div:nth-child(10) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
}
.stock-block > div:nth-child(11) {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 4;
}
.stock-block > div:nth-child(12) {
    grid-column-start: 5;
    grid-row-start: 1;
    grid-row-end: 6;
}
.stock-block > div:nth-child(13) {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 5;
}
.stock-block > div:nth-child(14) {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 6;
}

.available-stock,
.temporary,
.total-allocated,
.real-stock-total,
.available,
.ordered-stock,
.buttons {
    background: #ececec;
    padding: 5px 10px;
    font-size: 13px;
}
.buttons {
    padding: 10px 2px;
}
.buttons .btn {
    font-weight: 600;
    font-size: 13px;
    padding: 3px 5px;
    width: 100%;
    margin-bottom: 12px;
}

.available-stock .val,
.temporary .val,
.total-allocated .val,
.real-stock-total .val,
.available .val,
.ordered-stock .val {
    font-size: 14px;
    font-weight: bold;
}
.available-stock .val,
.real-stock-total .val {
    font-size: 24px;
}

.actions {
    border-top: 1px solid #e0e0e0;
    padding: 2px 0;
}
.actions h4 {
    font-size: 14px;
}
.actions-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.actions-content label {
    display: block;
}
.actions-content div + div {
    border-left: 1px solid #e0e0e0;
    padding-left: 10px;
}

.stock-availability {
    padding: 7px 5px 12px 0;
}
.delivery-terms {
    padding: 7px 0 12px 5px;
}

.links {
    text-align: left;
    padding: 5px;
}
.links .right-link {
    float: none;
}
.links a {
    display: block;
    font-size: 12px;
    margin-bottom: 5px;
}
.links a:before {
    content: '\2022';
    padding: 0 5px;
}
.links .disabled {
    color: #888888;
    border-top: 1px solid #e0e0e0;
    margin-top: 20px;
    padding-top: 5px;
}
.links .disabled a {
    color: #888888;
}
.links .disabled a:hover {
    text-decoration: none;
    cursor: default;
}

.stock-splitting-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.stock-splitting-row label {
    font-size: 14px;
    padding: 0 20px 0 23px;
    line-height: 1.3;
}
.stock-splitting-row label + label {
    border-left: 1px solid #e0e0e0;
    padding-left: 33px;
}
.stock-splitting-row input[type="radio"] {
    margin: 0 5px 10px -23px;
    position: relative;
    top: 3px;
    float: left;
}

#stock_by_platforms .stock-row {
    display: grid;
    grid-template-columns: 25% 150px 4fr;
    padding: 10px 0;
}
#stock_by_platforms .stock-row + .stock-row {
    border-top: 1px solid #e0e0e0;
}
#stock_by_platforms .stock-row > * {
    vertical-align: middle;
    align-self: center;
}
#stock_by_platforms .stock-row label {
    font-size: 14px;
}
#stock_by_platforms .stock-row-qty {
    padding-right: 25px;
}
#stock_by_platforms .stock-row-qty input {
    width: 75px;
}
.stock-summary {
    padding: 10px 5px;
    background: #eeeeee;
    display: flex;
}
.stock-summary label {
    width: 20%;
    padding-right: 20px;
}
.stock-summary > div {
    width: calc(125px + 10%);
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

.update-stock-popup {
    width: 440px !important;
}
.update-stock-popup .popup-content,
.relocate-stock-popup .popup-content {
    padding: 10px;
}
.update-stock-popup .amount input,
.relocate-stock-popup .amount input {
    width: 120px;
    text-align: center;
}
#location select {
    margin-bottom: 5px;
}
.in-out-row {
    margin-bottom: 10px;
}
.in-out-row label {
    margin-right: 30px;
}
.in-out-row label input {
    position: relative;
    top: 2px;
}
.in-out-row .icon-plus {
    color: #1fbb26;
}
.in-out-row .icon-minus {
    color: #f00;
}
.update-stock-popup .form-group:after,
.relocate-stock-popup .form-group:after {
    content: '';
    display: block;
    clear: both;
}
.update-stock-popup .input-slider,
.relocate-stock-popup .input-slider {
    display: grid;
    grid-template-columns: 100px 1fr;
}
.update-stock-popup .input-slider > *,
.relocate-stock-popup .input-slider > * {
    vertical-align: middle;
    align-self: center;
}
.update-stock-popup .input-slider .slider-controls,
.relocate-stock-popup .input-slider .slider-controls {
    padding-right: 20px;
}
.update-stock-popup .form-group,
.relocate-stock-popup .form-group {
    margin-bottom: 5px;
}
.update-stock-popup .summary,
.relocate-stock-popup .summary {
    padding: 2px 10px;
    background: #eeeeee;
}
.update-stock-popup .col-md-6,
.relocate-stock-popup #location-to .col-md-6 {
    padding-left: 0;
}
.update-stock-popup .comments,
.relocate-stock-popup .comments {
    clear: both;
}
.update-stock-popup .available-stock-info,
.relocate-stock-popup .available-stock-info {
    font-size: 14px;
    font-style: italic;
    margin-top: -4px;
}
.relocate-stock-popup .warehousesStockPopup {
    padding: 0;
}
#slider-minus-qty-total {
    font-weight: bold;
}

#platform_to_warehouse .platform-row {
    display: grid;
    grid-template-columns: 25% 25px 1fr;
    padding: 10px 0;
}
#platform_to_warehouse .platform-row + .platform-row {
    border-top: 1px solid #e0e0e0;
}
#platform_to_warehouse .platform-row > * {
    vertical-align: middle;
    align-self: center;
}
#platform_to_warehouse .platform-row label {
    font-size: 14px;
}
#platform_to_warehouse .platform-row .arrow:before {
    content: '\f054';
    font-family: FontAwesome;
    color: #a1a3a7;
}

#request_quote_out_stock {
    display: block;
    margin-top: 10px;
}

.widget-header .edp-line {
    float: right;
    padding: 0;
    margin: 0;
    width: 70%
}
.widget-header .edp-qty-t {
    padding: 0;
    margin: 0;
}

#product_reallocate_popup .amount input {
    width: 60px;
    text-align: center;
}
.product-attribute-setting{
    text-align: right;
    display: inline-block;
    float: right;
}

.allow-bck-ord label{
  display: inline-block;
}
.allow-bck-ord .label-title {
    float: right;
    margin-top: 4px;
    padding-left: 5px;
}