/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}



.slick-arrow.slick-hidden {
    display:none;
}
.slick-dots {
    justify-content: center;
    list-style: none;
    display:flex;
}
.slick-dots button {
    display:none;
}
.slick-dots li:before {
    background-color: #cccccc;
    height:10px;
    width:10px;
    content:'';
    display:block;
    border-radius:50% 50% 50% 50%;
}
.slick-dots li {
    cursor: pointer;
    padding:5px 5px;
    margin:0px 5px;
}
.slick-dots li.slick-active:before {
    background-color: #212121;
}
.slick-initialized .slick-slide {
    display:block;
}
.slick-list {
    overflow: hidden;
    position: relative;
    display:block;
    padding:0px 0px;
    margin:0px 0px;
}
.slick-list:focus {
    outline: none;
}
.slick-loading .slick-slide {
    visibility: hidden;
}
.slick-loading .slick-track {
    visibility: hidden;
}
.slick-slide {
    clear: none!important;
    float: left!important;
    height:100%;
    min-height:1px;
    display:none;
}
.slick-slide img {
    display:block;
}
.slick-slide.dragging img {
    pointer-events: none;
}
.slick-slide.slick-loading img {
    display:none;
}
.slick-slider {
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-touch-action: pan-y;
    -ms-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    box-sizing: border-box;
    position: relative;
    touch-action: pan-y;
    user-select: none;
    display:block;
}
.slick-slider .slick-track,  .slick-slider .slick-list {
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.slick-track:after {
    clear: both;
}
.slick-track {
    left:0;
    position: relative;
    top:0;
    display:block;
    margin-right:auto;
    margin-left:auto;
}
.slick-track:before,  .slick-track:after:before {
    content:'';
    display:table;
}
.slick-vertical .slick-slide {
    height:auto;
    display:block;
    border-top-width:1px;
    border-left-width:1px;
    border-right-width:1px;
    border-bottom-width:1px;
}
.slick-vertical button.slick-next {
    bottom:0;
    top:auto;
}
.slick-vertical button.slick-next:before {
    content:'\f078';
    padding:0px 0px;
}
.slick-vertical button.slick-prev {
    bottom:auto;
    top:0;
}
.slick-vertical button.slick-prev:before {
    content:'\f077';
    padding:0px 0px;
}
.slick-vertical button.slick-prev,  .slick-vertical button.slick-next {
    left:50%;
    right:auto;
    line-height:36px;
    margin-top:0px;
    margin-left:-20px;
}
button.slick-disabled {
    cursor: default;
    opacity: 0.3;
}
button.slick-next:before {
    content:'\f054';
    padding-left:4px;
}
button.slick-next {
    left:auto;
    right:0;
}
button.slick-prev:before {
    content:'\f053';
    padding-right:4px;
}
button.slick-prev {
    left:0;
    right:auto;
}
button.slick-prev,  button.slick-next {
    background-color: #ffffff;
    color: #cccccc;
    font-size:0;
    height:40px;
    position: absolute;
    text-align: center;
    top:50%;
    width:40px;
    z-index: 1;
    line-height:38px;
    border:2px solid #e0e0e0;
    border-radius:50% 50% 50% 50%;
    padding:0px 0px;
    margin-top:-20px;
}
button.slick-prev:before,  button.slick-next:before {
    font-size:20px;
    font-family:FontAwesome;
}
[dir='rtl'] .slick-slide {
    float: right;
}
@media (max-width:992px) {
    button.slick-prev, button.slick-next {
        height:50px;
        width:50px;
        line-height:48px;
    }
}
