#nav {
    --menu-color: #ffffff;
    --menu-background: transparent;
    --menu-color-hover: #ffffff;
    --menu-background-hover: #381e99;
    --menu-color-active: #ffffff;
    --menu-background-active: transparent;

    --menu-sub-color: #ffffff;
    --menu-sub-background: #5236b7;
    --menu-sub-color-hover: #ffffff;
    --menu-sub-background-hover: #6b54bd;
    --menu-sub-color-active: #ffffff;
    --menu-sub-background-active: #381e99;

    --menu-sub-2-color: #ffffff;
    --menu-sub-2-background: #5236b7;
    --menu-sub-2-color-hover: #ffffff;
    --menu-sub-2-background-hover: #6b54bd;
    --menu-sub-2-color-active: #ffffff;
    --menu-sub-2-background-active: #381e99;

    --menu-border-color: #ffffff;
    --menu-border-color-side: #4a3e9d;
}

body {
    --color-success: #1fbb26;
    --color-info: #008ae8;
    --color-warning: #fd7a13;
    --color-danger: #f00;

    --border-color-tiny: #d9d9d9;
    --border-color-midle: #caccd3;
    --border-color-strong: #caccd3;

    --heading-color: #424242;

    --background-color-1: #f7f5ff;
    --background-color-2: #ece9f9;
    --background-color-3: #e8e1ff;
    --background-color-4: #eeeeee;

    --link-color: #0077e4;
    --primary-color: #7b5bb9;
}

.btn-bar-top {
    --btn-background: #006cdb;
    --btn-primary-background: #7b5bb9;
    --btn-danger-background: #5340bc;
}