#nav {
    --menu-color: #ffffff;
    --menu-background: transparent;
    --menu-color-hover: #ffffff;
    --menu-background-hover: #381e99;
    --menu-color-active: #ffffff;
    --menu-background-active: transparent;

    --menu-sub-color: #ffffff;
    --menu-sub-background: #5236b7;
    --menu-sub-color-hover: #ffffff;
    --menu-sub-background-hover: #6b54bd;
    --menu-sub-color-active: #ffffff;
    --menu-sub-background-active: #381e99;

    --menu-sub-2-color: #ffffff;
    --menu-sub-2-background: #5236b7;
    --menu-sub-2-color-hover: #ffffff;
    --menu-sub-2-background-hover: #6b54bd;
    --menu-sub-2-color-active: #ffffff;
    --menu-sub-2-background-active: #381e99;

    --menu-border-color: #ffffff;
    --menu-border-color-side: #4a3e9d;
}

body {
    --color-success: #1fbb26;
    --color-info: #008ae8;
    --color-warning: #fd7a13;
    --color-danger: #f00;
    --color-dim: #858484;

    --border-color-tiny: #d9d9d9;
    --border-color-midle: #caccd3;
    --border-color-strong: #999;
    --border-color-selected: #008ae8;

    --heading-color: #424242;
    --main-color: #424242;
    --main-color-reverce: #ffffff;
    --tiny-color: #cccccc;

    --background-color: #fff;
    --background-color-1: #f7f5ff;
    --background-color-2: #ece9f9;
    --background-color-3: #e8e1ff;
    --background-color-4: #eeeeee;
    --background-search-key: #ffff00;
    --background-color-reverce: #665cac;
    --background-color-reverce-1: #000000;
    --background-shadow: rgba(255, 255, 255, 0.7);

    --link-color: #0077e4;
    --primary-color: #7b5bb9;

    --input-background: #ffffff;


    --dt-row-selected: 235, 233, 249;
    --dt-row-selected-text: 66, 66, 66;
    --dt-row-selected-link: 0, 119, 228;

    --btn-background: #6c757d;
    --btn-confirm-background: linear-gradient(to bottom, #fd7a13 0%,#fd7011 44%,#fd6510 100%);

    --bs-btn-active-color: #6c757d;
    --bs-btn-active-bg: #6c757d;
    --bs-btn-active-border-color: #6c757d;
}

.btn-bar-top {
    --btn-background: #006cdb;
    --btn-primary-background: #7b5bb9;
    --btn-danger-background: #5340bc;
}
.btn {
    --bs-btn-color: #fff;
    --bs-btn-bg: #6c757d;
    --bs-btn-border-color: #6c757d;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #636970;
    --bs-btn-hover-border-color: #636970;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #636970;
    --bs-btn-active-border-color: #636970;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
}
.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #7952b3;
    --bs-btn-border-color: #7952b3;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #6b479d;
    --bs-btn-hover-border-color: #6b479d;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #6b479d;
    --bs-btn-active-border-color: #6b479d;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
}