* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  box-sizing:         border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: Tahoma, Verdana, Arial, sans-serif;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
  padding: 5px 10px;
}

body {
  color: #141412;
  background: #fff;
  line-height: 1.5;
  margin: 0;
  font-family: Tahoma, Verdana, Arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

a:focus {
  outline: none;
}

a:active,
a:hover {
  outline: 0;
}
a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  line-height: 1.3;
}

h1 {
  font-size: 32px;
  margin: 0 0 33px;
}

h2 {
  font-size: 26px;
  margin: 0 0 25px 0;
}

h3 {
  font-size: 22px;
  margin: 0 0 22px 0;
}

h4 {
  font-size: 20px;
  margin: 0 0 15px 0;
}

h5 {
  font-size: 18px;
  margin: 0 0 10px 0;
}

h6 {
  font-size: 16px;
  margin: 0 0 10px 0;
}

address {
  font-style: normal;
  margin: 0 0 20px;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

label {
  font-weight: normal;
}

p {
  margin: 0;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 14px;
  -webkit-hyphens: none;
  -moz-hyphens:    none;
  -ms-hyphens:     none;
  hyphens:         none;
}

pre {
  background: #f5f5f5;
  color: #666;
  font-family: monospace;
  font-size: 14px;
  margin: 20px 0;
  overflow: auto;
  padding: 20px;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

blockquote,
q {
  -webkit-hyphens: none;
  -moz-hyphens:    none;
  -ms-hyphens:     none;
  hyphens:         none;
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

blockquote {
  font-size: 18px;
  font-style: italic;
  font-weight: 300;
  margin: 24px 40px;
}

blockquote blockquote {
  margin-right: 0;
}

blockquote cite,
blockquote small {
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
}

blockquote em,
blockquote i {
  font-style: normal;
  font-weight: 300;
}

blockquote strong,
blockquote b {
  font-weight: 400;
}

small {
  font-size: smaller;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

dl {
  margin: 0 20px;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 0 20px;
}

menu,
ol,
ul {
  padding: 0 0 0 40px;
}

ul {
  list-style-type: square;
}

nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

li > ul,
li > ol {
  margin: 0;
}

img {
  -ms-interpolation-mode: bicubic;
  border: 0;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  max-width: 100%;
  vertical-align: baseline;
}

button,
input {
  line-height: normal;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  padding: 0;
}

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: inherit;
  line-height: 2;
  width: 100%;
}

caption,
th,
td {
  font-weight: normal;
}

caption {
  font-size: 16px;
  margin: 20px 0;
}

th {
  font-weight: bold;
}

td {
  font-size: inherit;
}

del {
  color: #333;
}

ins {
  background: #fff9c0;
  text-decoration: none;
}


.btn,
.btn-1,
.btn-2,
.btn-3 {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  vertical-align:middle;
  border: none;
}
.btn:hover,
.btn-1:hover,
.btn-2:hover,
.btn-3:hover {
  text-decoration: none;
}


.main-width,
.type-1 > .block {
  margin: 0 auto;
}
.main-width:after {
  content: '';
  clear: both;
  display: block;
}
.bootstrap-switch {
  font-size: 16px;
  height: 28px;
  line-height: 28px;
  display: inline-block;
  direction: ltr;
  cursor: pointer;
  border-radius: 14px;
  position: relative;
  text-align: left;
  overflow: hidden;
  z-index: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.bootstrap-switch .bootstrap-switch-container {
  display: inline-block;
  top: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.bootstrap-switch .bootstrap-switch-handle-on,
.bootstrap-switch .bootstrap-switch-handle-off,
.bootstrap-switch .bootstrap-switch-label {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block !important;
  height: 28px;
  line-height: 30px;
}
.bootstrap-switch .bootstrap-switch-handle-on,
.bootstrap-switch .bootstrap-switch-handle-off {
  z-index: 1;
}
.bootstrap-switch .bootstrap-switch-label {
  text-align: center;
  z-index: 100;
}
.bootstrap-switch .bootstrap-switch-handle-on {
  text-align: right;
  padding-left: 5px;
}
.bootstrap-switch .bootstrap-switch-handle-off {
  text-align: left;
  padding-right: 5px;
}
.bootstrap-switch input[type='radio'],
.bootstrap-switch input[type='checkbox'] {
  position: absolute !important;
  top: 0;
  left: 0;
  margin: 0;
  z-index: -1;
  opacity: 0;
  filter: alpha(opacity=0);
}
.bootstrap-switch.bootstrap-switch-disabled,
.bootstrap-switch.bootstrap-switch-readonly,
.bootstrap-switch.bootstrap-switch-indeterminate {
  cursor: default !important;
}
.bootstrap-switch.bootstrap-switch-disabled .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-readonly .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-indeterminate .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-disabled .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-readonly .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-indeterminate .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-disabled .bootstrap-switch-label,
.bootstrap-switch.bootstrap-switch-readonly .bootstrap-switch-label,
.bootstrap-switch.bootstrap-switch-indeterminate .bootstrap-switch-label {
  opacity: 0.5;
  filter: alpha(opacity=50);
  cursor: default !important;
}
.bootstrap-switch.bootstrap-switch-animate .bootstrap-switch-container {
  -webkit-transition: margin-left 0.5s;
  -o-transition: margin-left 0.5s;
  transition: margin-left 0.5s;
}
.bootstrap-switch.bootstrap-switch-focused {
  outline: 0;
}
.bootstrap-switch .bootstrap-switch-container > span{
  vertical-align: top!important;
  display: inline-block!important;
}
.bootstrap-switch .bootstrap-switch-label {
  width: 30px;
}
.bootstrap-switch.bootstrap-switch-on .bootstrap-switch-label:before,
.bootstrap-switch.bootstrap-switch-inverse.bootstrap-switch-off .bootstrap-switch-label:before,
.bootstrap-switch.bootstrap-switch-off .bootstrap-switch-label:before,
.bootstrap-switch.bootstrap-switch-inverse.bootstrap-switch-on .bootstrap-switch-label:before{
  content: ' ';
  border-radius: 10px;
  width: 20px!important;
  height: 20px;
  display: inline-block;
  text-align: center;
  position: relative;
  top: 4px;
  left: 2px;
}



.products-listing:after {
  content: '';
  clear: both;
  display: block;
}
.products-listing .item {
  width: 25%;
  display: inline-block;
  float: none;
  vertical-align: top;
}
.products-listing.align-left .item {
  display: block;
  float: left;
}
.products-listing.align-right .item {
  display: block;
  float: right;
}
.products-listing.cols-1 .item {
  width: 100%;
}
.products-listing.cols-2 .item {
  width: 50%;
}
.products-listing.cols-2 .item:nth-child(2n+1) {
  clear: both;
}
.products-listing.cols-3 .item {
  width: 33.33%;
}
.products-listing.cols-3 .item:nth-child(3n+1) {
  clear: both;
}
.products-listing.cols-4 .item {
  width: 25%;
}
.products-listing.cols-4 .item:nth-child(4n+1) {
  clear: both;
}
.products-listing.cols-5 .item {
  width: 20%;
}
.products-listing.cols-5 .item:nth-child(5n+1) {
  clear: both;
}
.products-listing.cols-6 .item {
  width: 16.66%;
}
.products-listing.cols-6 .item:nth-child(6n+1) {
  clear: both;
}
.products-listing {
  text-align: center;
}
.products-carousel .products-listing .item {
  display: block;
  float: left;
  clear: none !important;
}
.products-listing.list-type-1_2 .item,
.products-listing.list-type-2_2 .item,
.products-listing.list-type-1_3 .item {
  text-align: left;
  width: 100%;
  display: block;
}
.products-listing.list-type-1_2 .image img,
.products-listing.list-type-2_2 .image img,
.products-listing.list-type-1_3 .image img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
.products-listing .description ul {
  margin: 0;
}
.products-listing .qty-input.hidden:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 0.7;
}
.products-listing .attributes select {
  width: 100%;
}
#add_all {
  position: fixed;
  right: 20px;
  bottom: 20px;
}



.menu-style-1 a,
.menu-horizontal a {
  color: inherit;
}
.menu-style-1 ul,
.menu-horizontal ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu-style-1 > ul,
.menu-horizontal > ul {
  white-space: nowrap;
  z-index: 21;
}
.menu-style-1 li,
.menu-horizontal li {
  display: inline-block;
  width: auto;
  clear: none !important;
  float: none;
  margin: 0;
  position: relative;
}
.menu-style-1 li a,
.menu-style-1 li .no-link,
.menu-horizontal li a,
.menu-horizontal li .no-link {
  display: inline-block;
  vertical-align: middle;
}
.menu-style-1 li li a,
.menu-style-1 li li .no-link,
.menu-horizontal li li a,
.menu-horizontal li li .no-link {
  display: block;
}
.menu-style-1 ul ul,
.menu-horizontal ul ul {
  display: none;
  position: absolute;
}
.menu-style-1 > ul > li > ul,
.menu-horizontal > ul > li > ul {
  left: 0;
  top: 100%;
  z-index: 22;
}
.menu-style-1 > ul > li > ul > li > ul,
.menu-horizontal > ul > li > ul > li > ul {
  z-index: 23;
}
.menu-style-1 > ul > li > ul > li > ul > li > ul,
.menu-horizontal > ul > li > ul > li > ul > li > ul {
  z-index: 24;
}
.menu-style-1 > ul > li > ul > li > ul > li > ul > li > ul,
.menu-horizontal > ul > li > ul > li > ul > li > ul > li > ul {
  z-index: 25;
}
.menu-style-1 ul ul ul,
.menu-horizontal ul ul ul {
  top: 0;
}
.menu-style-1 ul li:hover > ul,
.menu-horizontal ul li:hover > ul {
  display: block;
}
.menu-style-1 ul ul li,
.menu-horizontal ul ul li {
  display: block !important;
  text-align: left;
}
.menu-style-1 .box,
.menu-horizontal .box {
  float: none;
  text-align: center;
}

.menu-slider a,
.menu-slider .no-link {
  display: inline-block;
}
.menu-slider ul,
.menu-slider li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu-slider > ul {
  position: relative;
  text-align: center;
}
.menu-slider > ul > li {
  display: inline-block;
  vertical-align: top;
}
.menu-slider > ul > li > ul {
  display: none;
  text-align: center;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  z-index: 100;
}
.menu-slider > ul > li > ul > li {
  display: inline-block;
  vertical-align: top;
}
.menu-slider > ul > li > ul li {
  text-align: left;
}
.menu-slider .close {
  position: absolute;
  right: 10px;
  top: 10px;
  line-height: 10px;
  text-align: center;
  vertical-align: 20px;
  cursor: pointer;
}
.menu-slider .close:before {
  content: '\f00d';
  font-family: FontAwesome;
}


.menu-big {
  position: relative;
}
.menu-big a {
  color: inherit;
}
.menu-big ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu-big li {
  display: inline-block;
  width: auto;
  clear: none !important;
  float: none;
  margin: 0;
  position: static;
  z-index: 20;
}
.menu-big li a,
.menu-big li .no-link {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}
.menu-big li li {
  vertical-align: top;
}
.menu-big li li a,
.menu-big li li .no-link {
  display: block;
}
.menu-big > ul > li > ul {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  right: 0;
  z-index: 100;
}
.menu-big > ul > li:hover > ul {
  display: block;
}
.menu-big li li li {
  display: block;
  text-align: left;
}
.menu-big .hide-more,
.menu-big .hide-more ~ li:not(.show-all) {
  display: none;
}
.menu-big .hide-more.hide-more-disable,
.menu-big .hide-more.hide-more-disable ~ li:not(.show-all) {
  display: block;
}
.menu-big .show-all {
  cursor: pointer;
}

.menu-style-2 ul,
.menu-style-2 li {
  list-style: none;
  margin: 0;
  padding: 0;
}


.rating-0,
.rating-1,
.rating-2,
.rating-3,
.rating-4,
.rating-5 {
  font-family: FontAwesome;
  font-weight: normal;
}
.rating-0:before {
  content: '\f006 \f006 \f006 \f006 \f006';
}
.rating-1:before {
  content: '\f005 \f006 \f006 \f006 \f006';
}
.rating-2:before {
  content: '\f005 \f005 \f006 \f006 \f006';
}
.rating-3:before {
  content: '\f005 \f005 \f005 \f006 \f006';
}
.rating-4:before {
  content: '\f005 \f005 \f005 \f005 \f006';
}
.rating-5:before {
  content: '\f005 \f005 \f005 \f005 \f005';
}

.pass-strength {
  display: block;
  position: relative;
}
.pass-strength span {
  position: absolute;
  right: 10px;
  top: 6px;
  font-weight: bold;
}
.short-pass,
.pass-strength,
.pass-no-match {
  color: #D32F2F;
}
.bad-pass {
  color: #FF6D00;
}
.good-pass {
  color: #7CB342;
}
.strong-pass,
.pass-match {
  color: #00C853;
}








.box-block:after {
  content: '';
  clear: both;
  display: block;
}
.box-block.type-2 > .block,
.box-block.type-3 > .block,
.box-block.type-4 > .block,
.box-block.type-5 > .block,
.box-block.type-6 > .block,
.box-block.type-7 > .block,
.box-block.type-8 > .block,
.box-block.type-9 > .block,
.box-block.type-10 > .block,
.box-block.type-11 > .block,
.box-block.type-12 > .block,
.box-block.type-13 > .block,
.box-block.type-14 > .block,
.box-block.type-15 > .block {
  float: left;
}
.box-block.type-2 > .block:nth-child(1) {
  width: 50%;
}
.box-block.type-2 > .block:nth-child(2) {
  width: 50%;
}
.box-block.type-3 > .block:nth-child(1) {
  width: 33.33%;
}
.box-block.type-3 > .block:nth-child(2) {
  width: 33.33%;
}
.box-block.type-3 > .block:nth-child(3) {
  width: 33.33%;
}
.box-block.type-4 > .block:nth-child(1) {
  width: 66.66%;
}
.box-block.type-4 > .block:nth-child(2) {
  width: 33.33%;
}
.box-block.type-5 > .block:nth-child(1) {
  width: 33.33%;
}
.box-block.type-5 > .block:nth-child(2) {
  width: 66.66%;
}
.box-block.type-6 > .block:nth-child(1) {
  width: 25%;
}
.box-block.type-6 > .block:nth-child(2) {
  width: 75%;
}
.box-block.type-7 > .block:nth-child(1) {
  width: 75%;
}
.box-block.type-7 > .block:nth-child(2) {
  width: 25%;
}
.box-block.type-8 > .block:nth-child(1) {
  width: 25%;
}
.box-block.type-8 > .block:nth-child(2) {
  width: 50%;
}
.box-block.type-8 > .block:nth-child(3) {
  width: 25%;
}
.box-block.type-9 > .block:nth-child(1) {
  width: 20%;
}
.box-block.type-9 > .block:nth-child(2) {
  width: 80%;
}
.box-block.type-10 > .block:nth-child(1) {
  width: 80%;
}
.box-block.type-10 > .block:nth-child(2) {
  width: 20%;
}
.box-block.type-11 > .block:nth-child(1) {
  width: 40%;
}
.box-block.type-11 > .block:nth-child(2) {
  width: 60%;
}
.box-block.type-12 > .block:nth-child(1) {
  width: 60%;
}
.box-block.type-12 > .block:nth-child(2) {
  width: 40%;
}
.box-block.type-13 > .block:nth-child(1) {
  width: 20%;
}
.box-block.type-13 > .block:nth-child(2) {
  width: 60%;
}
.box-block.type-13 > .block:nth-child(3) {
  width: 20%;
}
.box-block.type-14 > .block {
  width: 25%;
}
.box-block.type-15 > .block {
  width: 20%;
}
.block {
  text-align: center;
  min-height: 1px;
}
.block > .box,
.block > .box-block {
  text-align: left;
}
.qty-box {
  white-space: nowrap;
}
.qty-box .disabled {
  opacity: 0.5;
  cursor: default !important;
}
.info ul {
  list-style: disc inside;
}









.pagination:after {
  content: '';
  clear: both;
  display: block;
}
.pagination .left-area {
  float: left;
}
.pagination .right-area {
  float: right;
}
.pagination a,
.pagination span {
  display: inline-block;
  text-align: center;
  vertical-align: top;
}
.pagination .next:before {
  content: '\f105';
  font-family: FontAwesome;
}
.pagination .prev:before {
  content: '\f104';
  font-family: FontAwesome;
}

.functionality-bar div {
  display: inline-block;
}
.functionality-bar .view {
  float: right;
}
.functionality-bar .view a {
  font-family: FontAwesome;
  display: inline-block;
  text-align: center;
}
.functionality-bar .view a.active {
  cursor: default;
}
.functionality-bar .view .grid:before {
  content: "\f009";
}
.functionality-bar .view .list:before {
  content: "\f00b";
}
.functionality-bar .view .b2b:before {
  content: "\f0c9";
}


.buttons {
  clear: both;
}
.buttons:after {
  content: '';
  clear: both;
  display: block;
}
.buttons .left-buttons {
  float: left;
}
.buttons .right-buttons {
  float: right;
}
.buttons .left-buttons .btn {
  margin-right: 10px;
}
.buttons .right-buttons .btn {
  margin-left: 10px;
}



.price-box {
  text-align: right;
}
.price-box .title {
  display: inline-block;
}
.price-box .price {
  display: inline-block;
  width: 200px;
}

.price .old {
  text-decoration: line-through;
}



.around-pop-up {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: 701;
}
.popup-box-wrap {
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 702;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  box-sizing:         border-box;
}
.popup-box {
  display: inline-block;
  position: relative;
  z-index: 703;
  max-width: 100%;
}
.pop-up-content {
  text-align: left;
}
.pop-up-content form {
  padding: 0;
  margin: 0;
}
.popup-content form {
  padding: 0;
  margin: 0;
}
.popup-buttons .btn:first-child {
  float: right;
}

.preloader {
  text-align: center;
}
.preloader:before {
  content: '\f110';
  -moz-animation: load8 1.5s infinite linear;
  -webkit-animation: load8 1.5s infinite linear;
  animation: load8 1.5s infinite linear;
  font-size: 40px;
  line-height: 40px;
  display: inline-block;
  overflow: hidden;
  width: 40px;
  height: 40px;
  font-family: FontAwesome;
}
@-moz-keyframes load8 {
  from {
    margin-top: 0;
  }
  to {
    margin-top: 100px;
  }
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.addresses:after {
  clear: both;
  display: block;
  content: '';
}
.addresses .address-item {
  float: left;
  width: 48%;
}
.addresses .address-item label {
  cursor: pointer;
}
.addresses .address-item:nth-child(2n + 1) {
  clear: left;
}
.addresses .address-item:nth-child(2n) {
  margin-left: 4%;
}
.addresses .address-item input {
  float: left;
  position: relative;
  top: 4px;
  margin: 0;
}
.addresses .address-item span {
  display: block;
  overflow: hidden;
  padding-left: 5px;
}


.form-inputs textarea,
.form-inputs select,
.form-inputs input[type="text"],
.form-inputs input[type="email"],
.form-inputs input[type="password"] {
  width: 100%;
  margin-bottom: 15px;
}
.form-inputs div.required-message {
  z-index: 1;
  line-height: 1.3;
  top: -15px;
}

.columns:after {
  clear: both;
  display: block;
  content: '';
}
.columns .col-2 {
  float: left;
  width: 48%;
  position:relative;
}
.columns .col-2:nth-child(2n + 1) {
  clear: left;
}
.columns .col-2:nth-child(2n) {
  margin-left: 4%;
}


.billing-address {
  position: relative;
}
.hide-billing-address {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #fff;
  opacity: 0.7;
  z-index: 70;
}
.same-address {
  position: relative;
  z-index: 80;
}

.col-left {
  float: left;
  width: 48%;
  clear: left;
}
.col-right {
  float: right;
  width: 48%;
  clear: right;
}
.col-right + .col-left {
  clear: both;
}
.col-full {
  clear: both;
}

.item-radio label {
  cursor: pointer;
}
.item-radio.active label {
  cursor: default;
}

.payment-method .item-radio {
  margin-bottom: 5px;
}
.payment-method .item-radio label {
  display: block;
  padding: 5px;
}
.payment-method .item-radio input {
  float: left;
  position: relative;
  top: 5px;
}
.payment-method .item-radio label span {
  display: block;
  padding-left: 5px;
  overflow: hidden;
}
.payment-method .sub-item span {
  display: block;
}
.payment-method .sub-item input,
.payment-method .sub-item select {
  margin: 0 10px 10px 0;
  min-width: 70px;
}



.shipping-method .input {
  float: right;
  padding: 0 10px;
}
.shipping-method .input input {
  position: relative;
  top: 2px;
}
.shipping-method .cost {
  float: right;
}
.discount-box button {
  float: right;
  margin-left: 15px;
}
.discount-box input[type="text"] {
  width: 100%;
  position: relative;
}
.discount-box .inp {
  overflow: hidden;
}

.design-box-elements:after {
  clear: both;
  content: '';
  display: block;
}
.design-box-elements > div {
  float: left;
  clear: both;
  margin-bottom: 20px;
}
.qty-input input {
  width: 40px;
  text-align: center;
}
.frame-video iframe {
  max-width: 100%;
}
.quantity-discounts .count {
  width: 40px;
  display: inline-block;
}
.quantity-discounts .count:after {
  content: '+';
}

.products-listing .properties {
  text-align: left;
}
.hover-box {
  position: relative;
}
.hover-box-content {
  position: absolute;
  left: 0;
  top: 40px;
  display: none;
}
.hover-box-content:before {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  left: 20px;
  top: -10px;
  -webkit-transform: rotate( 45deg );
  -moz-transform: rotate( 45deg );
  -ms-transform: rotate( 45deg );
  transform: rotate( 45deg );
}
.hover-box:hover .hover-box-content {
  display: block;
}
.qty_packs .qty_t{float:left;display:block;}
.qty_packs .qty-input:after{display:block;clear:both;content:'';}

.w-line-row-2:after {
  clear: both;
  display: block;
  content: '';
}
.w-line-row-2 > div:nth-child(2n+1) {
  float: left;
  width: 48%;
  clear: left;
}
.w-line-row-2 > div:nth-child(2n) {
  float: right;
  width: 48%;
  clear: right;
}
.wl-td {
  margin-bottom: 10px;
}
.wl-td label {
  width: 40%;
  display: inline-block;
}
.wl-td input[type="text"]  {
  width: 55%;
}
.wl-td select  {
  width: 55%;
}
.widget {
  clear: both;
  padding: 10px 0 20px;
  margin-bottom: 20px;
  overflow: hidden;
}
.widget .widget {
  border-bottom: 1px solid #eee;
}
.widget h3 {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 10px;
  text-align: center;
}
.widget h3,
.widget h4 {
  border-bottom: 1px solid #eee;
  text-transform: uppercase;
  font-weight: normal;
}
.address-wrapp {
  font-size: 14px;
}
.address-wrapp b {
  font-weight: 600;
}
.address-wrapp > div:nth-child(2n+1) {
  float: left;
  clear: both;
  width: 49%;
  margin-bottom: 10px;
}
.address-wrapp > div:nth-child(2n) {
  float: right;
  clear: right;
  width: 49%;
  margin-bottom: 10px;
}

.trade-form-area {
  padding: 20px;
  background: #eee;
  margin-bottom: 20px;
  text-align: center;
}
.trade-form-area .btn {
  margin-left: 30px;
}
.moduleRowDue td{
  background: url('../img/pattern.png');
  color: #ccc;
  position: relative;
}
.not_fully_paid_td{
  position: absolute;
  left: 15px;
  top: 19px;
  text-transform: uppercase;
  color: #ee4225;
  font-size: 30px;
  width: 300px;
  font-weight: 700;
}
.account_history_info.account_history_info_due{
  position: relative;
}
.account_history_info.account_history_info_due .account_history_info_due_wr{
  background: url('../img/pattern.png');
  opacity: 0.5;
  cursor: not-allowed;
}
.account_history_info.account_history_info_due .account_history_info_due_wr .btn, .account_history_info.account_history_info_due .account_history_info_due_wr a{
  cursor: not-allowed;
}
.total-qty{padding:15px 0 0;}
.total-qty .inps{float:right;}
.total-qty, .total-qty .qty_price{font-size:24px;}
.total-qty .qty_price{padding:0;}

.banner .jcarousel ul,
.banner .jcarousel li {
  list-style: none;
  padding: 0;
  margin: 0;
}
.banner .jcarousel li + li {
  display: none;
}
.sliderItems a + a,
.sliderItems a + img,
.sliderItems img + a,
.sliderItems img + img {
  display: none;
}

.info-content p {
  margin-bottom: 10px;
}


.image-text-banner {
  position: relative;
}
.image-text-banner .text-banner {
  position: absolute;
}
.image-text-banner.top-left .text-banner {
  left: 0;
  top: 0;
}
.image-text-banner.top-right .text-banner {
  right: 0;
  top: 0;
}
.image-text-banner.bottom-left .text-banner {
  left: 0;
  bottom: 0;
}
.image-text-banner.bottom-right .text-banner {
  right: 0;
  bottom: 0;
}
.image-text-banner.middle-right .text-banner {
  right: 0;
}
.image-text-banner.top-center .text-banner,
.image-text-banner.middle-center .text-banner,
.image-text-banner.bottom-center .text-banner {
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;
}
.image-text-banner.middle-left .text-banner,
.image-text-banner.middle-center .text-banner,
.image-text-banner.middle-right .text-banner {
  top: 0;
  height: 100%;
}
.image-text-banner.middle-left .text-banner-1,
.image-text-banner.middle-center .text-banner-1,
.image-text-banner.middle-right .text-banner-1 {
  height: 100%;
  display: table;
}
.image-text-banner.middle-left .text-banner-2,
.image-text-banner.middle-center .text-banner-2,
.image-text-banner.middle-right .text-banner-2 {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}
.image-text-banner.middle-center .text-banner-1,
.image-text-banner.middle-center .text-banner-2 {
  width: 100%;
}
.image-text-banner.bottom-center .text-banner {
  bottom: 0;
  top: auto;
}
.popup-box.yv_popup {
  width: 830px;
}
.yv_popup .pop-up-content {
  /*padding: 20px 20px;*/
  line-height: 0;
}


.multi-page-checkout {
  padding-top: 20px;
}
.multi-page-checkout .checkout-step {
  border: 1px solid #e0e0e0;
  margin-bottom: 5px;
}
.multi-page-checkout .checkout-step.active {
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.2);
}
.multi-page-checkout .checkout-heading {
  padding: 8px 10px 6px;
  font-family: 'Varela Round';
  text-transform: uppercase;
  font-size: 24px;
  color: #bdbdbd;
}
.multi-page-checkout .checkout-heading .edit {
  display: none;
}
.multi-page-checkout .active .checkout-heading {
  color: #092964;
}
.multi-page-checkout .past .checkout-heading {
  color: #000;
}
.multi-page-checkout .past .checkout-heading .edit {
  display: block;
  float: right;
  color: #616161;
  cursor: pointer;
  text-transform: none;
}
.multi-page-checkout .past .checkout-heading .edit:after {
  content: '\e917';
  font-family: 'trueloaded';
  color: #092964;
  font-size: 0.7em;
  margin-left: 15px;
  display: inline-block;
  position: relative;
  top: -2px;
}
.multi-page-checkout .checkout-heading .count {
  height: 33px;
  width: 33px;
  line-height: 31px;
  text-align: center;
  border-radius: 50%;
  border: 2px solid #bdbdbd;
  display: inline-block;
}
.multi-page-checkout .active .checkout-heading .count {
  border: 2px solid #092964;
  background: #092964;
  color: #fff;
}
.multi-page-checkout .past .checkout-heading:before {
  height: 35px;
  width: 35px;
  line-height: 35px;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  background: #00c853;
  color: #fff;
  content: '\f00c';
  vertical-align: middle;
  font-family: FontAwesome;
  font-weight: normal;
}
.multi-page-checkout .past .checkout-heading .count {
  display: none;
}
.multi-page-checkout .checkout-content {
  border-top: 1px solid #e0e0e0;
  padding: 20px 10px;
}
.multi-page-checkout .buttons {
  padding: 0;
  margin: 0 !important;
}
.multi-page-checkout .checkout-content:after {
  clear: both;
  display: block;
  content: '';
}
.messageBox .info {
  text-align: left;
}
.banner .image-box {
  overflow: hidden;
}
.banner img + img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}


.additional-images,
.additional-videos {
  float: right;
  width: 140px;
}
.additional-horizontal .additional-images,
.additional-horizontal .additional-videos {
  width: 100%;
}
.additional-images div:focus,
.additional-videos div:focus {
  outline: none;
}
.additional-images .item,
.additional-videos .item {
  width: 140px;
  height: 140px;
  display: table;
}
.additional-horizontal .additional-images .item,
.additional-horizontal .additional-videos .item {
  margin: 0 auto;
}
.additional-images .item > div,
.additional-videos .item > div {
  width: 140px;
  height: 140px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.additional-images .item img,
.additional-videos .item img {
  max-width: 134px;
  max-height: 130px;
  width: auto;
  height: auto;
  cursor: pointer;
  margin: 0 auto;
}
.additional-images .item a,
.additional-videos .item a {
  display: block;
  border: 2px transparent;
  margin: 0 1px;
  cursor: pointer;
}
.additional-images .item .active,
.additional-videos .item .active {
  border: 2px solid #bdbdbd;
}
.additional-vertical {
  padding-right: 150px;
}
.additional-vertical .additional-videos {
  margin-right: -150px;
}


button.slick-disabled {
  cursor: default;
  opacity: 0.3;
}
button.slick-prev,
button.slick-next {
  position: absolute;
}
button.slick-prev:before,
button.slick-next:before {
  position: absolute;
}
.slick-slider {
  position: relative;

  display: block;
  box-sizing: border-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;

  display: block;
}
.slick-track:before,
.slick-track:after {
  display: table;

  content: '';
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;

  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.products-carousel .slick-slide img {
  display: inline-block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;

  height: auto;

  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}


#stars-default .glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.hided.menu {
  position: relative;
  background-color: inherit;
}
.menu .menu-ico {
  position: relative;
  background-color: inherit;
  color: inherit;
  cursor: pointer;
  display: none;
}
.hided.menu .menu-ico {
  display: block;
}
.menu .menu-ico:before {
  content: '\e91b';
  font-family: 'trueloaded';
}
.hided.menu ul,
.hided.menu li:hover ul {
  display: none;
  position: static;
  padding: 0;
  margin: 0;
  float: none;
}
.hided.menu > ul {
  position: absolute;
  z-index: 100;
}
div.hided.menu .active + ul,
div.hided.menu .opened + ul {
  display: block;
}
.hided.menu ul ul {
  width: auto !important;
  max-width: none;
  box-shadow: none;
}
.hided.menu ul li {
  padding: 0;
  margin: 0;
  width: auto !important;
  float: none;
  position: static;
  display: block;
}
.hided.menu a,
.hided.menu .no-link {
  display: block;
}
.hided.menu a.parent:before,
.hided.menu .no-link.parent:before {
  content: '\f067';
  float: right;
  font-family: FontAwesome;
}
.hided.menu a.parent.opened:before,
.hided.menu .no-link.parent.opened:before {
  content: '\f068';
  float: right;
  font-family: FontAwesome;
}

/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top;
}
.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020;
}
.fancybox-skin {
  position: relative;
  background: #f9f9f9;
  color: #444;
  text-shadow: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.fancybox-opened {
  z-index: 8030;
}
.fancybox-opened .fancybox-skin {
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}
.fancybox-outer, .fancybox-inner {
  position: relative;
}
.fancybox-inner {
  overflow: hidden;
}
.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch;
}
.fancybox-error {
  margin: 0;
  padding: 15px;
  white-space: nowrap;
}
.fancybox-image, .fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%;
}
.fancybox-image {
  max-width: 100%;
  max-height: 100%;
}
#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060;
}
#fancybox-loading div {
  width: 44px;
  height: 44px;
}
.fancybox-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 8040;
  text-align: center;
  line-height: 1;
  font-size: 26px;
}
a.fancybox-close:hover {
  text-decoration: none;
}
.fancybox-close:before {
  content: '\f00d';
  font-family: FontAwesome;
}
.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  z-index: 8040;
}
.fancybox-prev {
  left: 0;
}
.fancybox-next {
  right: 0;
}
.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  visibility: hidden;
  font-family: trueloaded;
  line-height: 40px;
  font-size: 34px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
}
.fancybox-prev span {
  left: 10px;
}
.fancybox-next span {
  right: 10px;
}
.fancybox-prev span:before {
  content: '\e900';
  padding-right: 4px;
}
.fancybox-next span:before {
  content: '\e901';
  padding-left: 4px;
}
.fancybox-nav:hover span {
  visibility: visible;
}
.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  visibility: hidden;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important;
}
.fancybox-lock {
  overflow: hidden !important;
  width: auto;
}
.fancybox-lock body {
  overflow: hidden !important;
}
.fancybox-lock-test {
  overflow-y: hidden !important;
}
.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: rgba(0, 0, 0, 0.7);
}
.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}
.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll;
}
.fancybox-title {
  visibility: hidden;
  position: relative;
  text-shadow: none;
  z-index: 8050;
}
.fancybox-opened .fancybox-title {
  visibility: visible;
}
.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center;
}
.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent; /* Fallback for web browsers that doesn't support RGBa */
  background: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-shadow: 0 1px 2px #222;
  color: #FFF;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap;
}
.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff;
}
.fancybox-title-inside-wrap {
  padding-top: 10px;
}
.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, .8);
}
.filter-listing-loader {
  position: absolute;
  z-index: 100000;
  background: rgba(255, 255, 255, 0.7);
  box-sizing: content-box;
}
.filter-listing-preloader {
  position: absolute;
  z-index: 100001;
}


.glyphicon {
  font-family: FontAwesome !important;
}
.glyphicon-time:before {
  content: "\f017" !important;
}
.glyphicon-chevron-left:before {
  content: "\f104" !important;
}
.glyphicon-chevron-right:before {
  content: "\f105" !important;
}
.glyphicon-chevron-up:before {
  content: "\f106" !important;
}
.glyphicon-chevron-down:before {
  content: "\f107" !important;
}
.glyphicon-calendar:before {
  content: "\f073" !important;
}
.bootstrap-datetimepicker-widget table td span.decade,
.bootstrap-datetimepicker-widget table td span.decade ~ span {
  width: 79px;
  height: 25px;
}
.picker-switch {
  display: none;
}
#shipping_method .heading-4 {
  padding-left: 5px;
}
#shipping_method .error {
  padding-left: 5px;
}

.qty-input.hidden {
  position: relative;
}
.acc-link {
  padding: 0;
  margin: 0;
  list-style: none;
}
.account-dropdown.logged-ul {
  width: 250px;
}
.acc-form-item input {
  width: 100%;
}
.my-acc-link {
  cursor: pointer;
}
.paging span.prev,
.paging span.next {
  opacity: 0.3;
}

.filter-widget-horizontal .content-filter-widget{
  display: table;
}
.filter-widget-horizontal .filter-box{
  display: table-cell;
  padding-right: 20px;
}
.filter-box-content ul li:nth-child(5) ~ li{
  display: none;
}
.filter-box-content ul li:nth-child(5) ~ li.view_items{
  display: block !important;
  cursor: pointer;
}
#btn-cart-none {
  cursor: default;
  opacity: 0.3;
}
.notify-form {
  text-align: left;
}
.notify-form p {
  margin-bottom: 15px;
}
.notify-form input {
  width: 100%;
}


.pc_name{font-weight: bold;font-size: 18px;background: #e0e0e0;padding: 6px 10px;}
.pc_row{display: table;width: 100%;}
.pc_row > div{display: table-cell;padding: 6px 10px;vertical-align: middle;}
.pc_qty_wrapper > span{display: inline-block;vertical-align: middle;}
.pc_qty_wrapper{text-align: right;}
.pc_price{padding: 0 10px 0 0;}
a.pc_more:before {content: "\f05a";font-family: FontAwesome;margin: 0 5px 0 0;}
.pc_details a{color:#0090cd;}
.pc_details img{margin: 0 10px 0 0;max-width: 40px;}
.pc_attr > .col-2{width: 48%;display: inline-block;padding: 0 5px 5px 0;}
.pc_attr > .col-2 select, .pc_item select{width: 100%;}
.pc_item{width:25%;}
.pc_details{width:15%;}
.pc_stock{width:10%;}
.pc_qty{width: 20%;}
.pc_attr{width: 30%;}
.pc_details{white-space: nowrap;}
.pc_product_info{display: none;}
.pc_popup_info{max-width: 800px;width: 100%;}
.pc_popup_info .pop-up-content{padding: 20px;}
@media(max-width:1024px){
  .pc_attr > .col-2{width: 100%;display: block;padding: 0 0 5px;}
}
@media(max-width:800px){
  .pc_table{width: 800px;}
  .pc_wrapper{overflow: auto;}
}
.delayed-despatch .dholder span{ position: relative; }
.delayed-despatch .dholder span:before{ font-family: 'FontAwesome'; content: '\f059'; }
.delayed-despatch .dholder #dhelp{ position: absolute; display: none; }
.delayed-despatch .dholder span:hover #dhelp{ display:block; background: #fff; width: 250px; border: 1px solid #ccc; padding: 5px; font-size: 12px; text-transform: capitalize; top: 15px; right: 15px; }

.js-hide{display: none;}
.testimonials #stars-default{display:inline-block;}


.hidden-boxes .box {
  visibility: hidden;
}
.hidden-boxes .box[data-name="Logo"],
.hidden-boxes .box[data-name="info\\Content"],
.hidden-boxes .box[data-name="Copyright"],
.hidden-boxes .box[data-name="invoice\\StoreAddress"] {
  visibility: visible;
}

.ui-autocomplete {
  position: absolute !important;
  list-style: none;
  padding: 0;
  height: 300px;
  overflow: auto;
}
.ui-autocomplete li {
  padding: 3px 10px;
  border: 1px solid transparent;
  cursor: pointer;
}

.datepicker-dropdown {
  position: absolute;
  background: #fff;
  box-shadow: 0 0 10px #ccc;
}