article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a:focus,
button:focus {
  outline: none;
}

a:active,
a:hover {
  outline: 0;
}
a:hover {
  text-decoration: underline;
}

address {
  font-style: normal;
  margin: 0 0 20px;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

label {
  font-weight: normal;
}


code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 14px;
  -webkit-hyphens: none;
  -moz-hyphens:    none;
  -ms-hyphens:     none;
  hyphens:         none;
}

pre {
  background: #f5f5f5;
  color: #666;
  font-family: monospace;
  font-size: 14px;
  margin: 20px 0;
  overflow: auto;
  padding: 20px;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

blockquote,
q {
  -webkit-hyphens: none;
  -moz-hyphens:    none;
  -ms-hyphens:     none;
  hyphens:         none;
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

blockquote {
  font-size: 18px;
  font-style: italic;
  font-weight: 300;
  margin: 24px 40px;
}

blockquote blockquote {
  margin-right: 0;
}

blockquote cite,
blockquote small {
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
}

blockquote em,
blockquote i {
  font-style: normal;
  font-weight: 300;
}

blockquote strong,
blockquote b {
  font-weight: 400;
}

small {
  font-size: smaller;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

dl {
  margin: 0 20px;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 0 20px;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

del {
  color: #333;
}

ins {
  background: #fff9c0;
  text-decoration: none;
}

table.wrapper,
table.wrapper > tbody,
table.wrapper > tbody > tr,
table.wrapper > tbody > tr > td,
table.wrapper > tr,
table.wrapper > tr > td {
  display: inline;
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  line-height:inherit;
}

.rating-0,
.rating-1,
.rating-2,
.rating-3,
.rating-4,
.rating-5 {
  font-family: FontAwesome;
  font-weight: normal;
}
.rating-0:before {
  content: '\f006 \f006 \f006 \f006 \f006';
}
.rating-1:before {
  content: '\f005 \f006 \f006 \f006 \f006';
}
.rating-2:before {
  content: '\f005 \f005 \f006 \f006 \f006';
}
.rating-3:before {
  content: '\f005 \f005 \f005 \f006 \f006';
}
.rating-4:before {
  content: '\f005 \f005 \f005 \f005 \f006';
}
.rating-5:before {
  content: '\f005 \f005 \f005 \f005 \f005';
}

.around-pop-up {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: 701;
}
.popup-box-wrap {
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 702;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  box-sizing:         border-box;
}
.popup-box {
  display: inline-block;
  position: relative;
  z-index: 703;
  max-width: 100%;
}
.pop-up-content {
  text-align: left;
}
.pop-up-content form {
  padding: 0;
  margin: 0;
}
.popup-content form {
  padding: 0;
  margin: 0;
}
.popup-buttons .btn:first-child {
  float: right;
}

.preloader {
  text-align: center;
}
.preloader:before {
  content: '\f110';
  -moz-animation: load8 1.5s infinite linear;
  -webkit-animation: load8 1.5s infinite linear;
  animation: load8 1.5s infinite linear;
  font-size: 40px;
  line-height: 40px;
  display: inline-block;
  overflow: hidden;
  width: 40px;
  height: 40px;
  font-family: FontAwesome;
}
@-moz-keyframes load8 {
  from {
    margin-top: 0;
  }
  to {
    margin-top: 100px;
  }
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes slidein {
  from {
    left: -100vw;
  }
  to {
    left: 0;
  }
}
@keyframes slideout {
  from {
    left: 0;
  }
  to {
    left: -100vw;
  }
}